.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.fa {
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:after {
    content: attr(value);
    font-size: 12px;
    background: red;
    border-radius: 50%;
    padding: 3px;
    position: relative;
    left: -6px;
    top: -13px;
    opacity: 0.9;
}

#prodAlert {
    overflow-y: hidden;
    max-height: 4rem;
    transition-property: all;
    transition-duration: 1s;
}


/* body {
    position: relative;
}

#section {
    padding-top: 3rem;
    height: 100vh;
} */